<div class="compensation-tab-cont">
    <div class="content-container-1">
        <div style="width: 100%">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="Effective" class="label-1">Effective From</label><br>
                    <div style="height: 40px;width: 95%;border: 1px solid #cccccc;padding-left: 5px;margin-top: 10px;">
                        <input matInput placeholder="mm/dd/yyyy" style="border-width: 0px !important;border-style: none !important;outline: none;color: #707375 !important;" [matDatepicker]="from" [max]="today" [(ngModel)]='tabFields.effectiveFrom'
                        (ngModelChange)="onDataChange($event,'effectiveFrom')">
                            <mat-datepicker-toggle matSuffix [for]="from" style="margin-left: 80px;"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </div>
                    <!-- <input type="date" class="inputBox" name="wcb" placeholder="mm/dd/yyyy"
                        [(ngModel)]='tabFields.effectiveFrom'
                        (ngModelChange)="onDataChange($event,'effectiveFrom')"> -->
                </div>
                <div class="sub-inp-cont">
                    <label for="Effective" class="label-1">Effective To</label><br>
                    <div style="height: 40px;width: 95%;border: 1px solid #cccccc;padding-left: 5px;margin-top: 10px;">
                        <input matInput placeholder="mm/dd/yyyy" style="border-width: 0px !important;border-style: none !important;outline: none;color: #707375 !important;" [matDatepicker]="to" [max]="today" [(ngModel)]='tabFields.effectiveFrom'
                        (ngModelChange)="onDataChange($event,'effectiveFrom')">
                            <mat-datepicker-toggle matSuffix [for]="to" style="margin-left: 80px;"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </div>
                    <!-- <input type="date" class="inputBox" name="wcb" placeholder="mm/dd/yyyy"
                        [(ngModel)]='tabFields.effectiveTo' (ngModelChange)="onDataChange($event,'effectiveTo')"> -->
                </div>
            </div>
        </div>
        <div style="width: 100%">
            <div class="group-1">
                <div ng-app="myApp" ng-controller="myCtrl" class="sub-inp-cont">
                    <label for="relationship" class="label-1">Relationship to Insured</label>
                    <select class="inputBox" style="width: 95%;" [(ngModel)]='tabFields.relationshiptoInsured'
                        (ngModelChange)="onDataChange($event,'relation')">
                        <option value="" disabled selected>Select Relationship</option>
                        <option *ngFor="let relation of relationshipTypes">{{relation.Name}}</option>
                    </select>
                </div>
                <div ng-app="myApp" ng-controller="myCtrl" class="sub-inp-cont">
                    <label for="Status" class="label-1">Status</label>
                    <select class="inputBox" style="width: 95%;" [(ngModel)]='tabFields.status'
                        (ngModelChange)="onDataChange($event,'status')">
                        <option value="" disabled selected>Select Status</option>
                        <option *ngFor="let status of statusTypes">{{status.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /**************************relation self fields*********************************-->
        <div style="width: 100%;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="firstName" class="label-1">First Name</label><br>
                    <input type="text" style="width: 96%;" class="inputBox" name="firstName" [(ngModel)]='tabFields.firstName'
                        (ngModelChange)="onDataChange($event,'firstName')">
                </div>
                <div class="sub-inp-cont">
                    <label for="lastName" class="label-1">Last Name</label><br>
                    <input type="text" style="width: 96%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.lastName'
                        (ngModelChange)="onDataChange($event,'lastName')">
                </div>
            </div>
        </div>
        <div style="width:100% ;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div ng-app="myApp" ng-controller="myCt" class="sub-inp-cont">
                    <label for="gender" class="label-1">Gender</label>
                    <select class="inputBox" [(ngModel)]='tabFields.gender'
                        (ngModelChange)="onDataChange($event,'gender')" style="width: 96%;">
                        <option value="" disabled selected>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Unknown</option>
                    </select>
                </div>
                <div class="sub-inp-cont">
                    <label for="phone Number" class="label-1">Phone Number</label><br>
                    <input type="number" size="10" class="inputBox" name="wcb" style="width: 97%;" [(ngModel)]='tabFields.phoneNumber'
                        (ngModelChange)="onDataChange($event,'phoneNumber')" placeholder="(xxx)xxx-xxxx">
                </div>
            </div>
        </div>
        <div style="width: 100%" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="dob" class="label-1">DOB</label><br>
                    <div style="height: 40px;width: 96%;border: 1px solid #cccccc;padding-left: 5px;margin-top: 10px;">
                        <input matInput placeholder="mm/dd/yyyy" style="border-width: 0px !important;border-style: none !important;outline: none;color: #707375 !important;" [matDatepicker]="dob" [max]="today" [(ngModel)]='tabFields.dob'
                        (ngModelChange)="onDataChange($event,'dob')">
                            <mat-datepicker-toggle matSuffix [for]="dob" style="margin-left: 80px;"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                        </div>
                    <!-- <input type="date" class="inputBox" name="dob" placeholder="mm/dd/yyyy"
                        [(ngModel)]='tabFields.dob' style="width: 95%;"
                        (ngModelChange)="onDataChange($event,'dob')"> -->
                </div>
                <div class="sub-inp-cont">
                    <label for="ssn" class="label-1">SSN</label><br>
                    <input type="text" size="15" style="width: 97%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.ssn'
                        (ngModelChange)="onDataChange($event,'ssn')" placeholder="xxx-xx-xxxx">
                </div>
            </div>
        </div>
        <div style="width: 100%;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="address1" class="label-1">Address line 1</label><br>
                    <input type="text" style="width: 94%;" size="45" style="width: 97%;" class="inputBox" name="firstName" [(ngModel)]='tabFields.address1'
                        (ngModelChange)="onDataChange($event,'address1')">
                </div>
                <div class="sub-inp-cont">
                    <label for="address2" size="45" class="label-1">Address line 2</label><br>
                    <input type="text" style="width: 95%;" style="width: 97%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.address2'
                        (ngModelChange)="onDataChange($event,'address2')">
                </div>
            </div>
        </div>
        <div style="width: 100%" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="city" class="label-1">City</label><br>
                    <input type="text" style="width: 96%;" class="inputBox" name="city" [(ngModel)]='tabFields.city'
                        (ngModelChange)="onDataChange($event,'city')">
                </div>
                <div ng-app="myApp" ng-controller="myCtrl" class="sub-inp-cont">
                    <label for="state" class="label-1">State</label><span style="color: red;">*</span>
                    <select class="inputBox" style="width: 96%;" [(ngModel)]='tabFields.state'
                        (ngModelChange)="onDataChange($event,'state')">
                        <option value="" disabled selected>Select State</option>
                        <option *ngFor="let state of stateTypes">{{state.Name}}</option>
                    </select>
                    <p class="validation-content" *ngIf="clickType==='autoAcc' && tabFields.state===''">Please enter the field</p>
                </div>
            </div>
        </div>
        <!-- /************************************************************************************* -->
        <div style="width: 100%;">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="insurance" class="label-1">Insurance Id</label><br>
                    <input type="text" style="width: 96%;" class="inputBox" name="insurance" [(ngModel)]='tabFields.insuranceId'
                        (ngModelChange)="onDataChange($event,'insId')">
                </div>
                <div class="sub-inp-cont">
                    <label for="group" class="label-1">Group Id</label><br>
                    <input type="text" style="width: 96%;" class="inputBox" name="group" [(ngModel)]='tabFields.groupId'
                        (ngModelChange)="onDataChange($event,'groupId')">
                </div>
            </div>
        </div>
        <div style="margin-top: 15px; display: flex;flex-direction: row;">
            <div class="radio-cont-1" style="width: 50%;">
                <p class="label-1" style="margin-left: 5%;">Priority</p>
                <div class="radio-form">
                    <div *ngFor="let priority of priorityTypes">
                          <input type="radio" id="html" name="fav_language" [value]='priority.Name'
                            [checked]="priority.Name===tabFields.priority" style="border: 1px solid #AEAEB2;"
                            (ngValueChange)="onDataChange($event,'priority')">
                          <label for="html" class="radio-label">{{priority.Name}}</label>
                    </div>
                </div>
            </div>
            <div style="width: 50%; margin-left: 10px;">
                <p class="label-1" style="margin-left: 4%;">Copay</p>
                <div class="radio-form">
                    <div>
                          <input type="radio" id="html" name="fav_language" value="HTML"
                            style="border: 1px solid #AEAEB2;">
                          <label for="html" class="radio-label">Fixed</label>
                    </div>
                    <div>
                          <input type="radio" id="css" name="fav_language" value="CSS"
                            style="border: 1px solid #AEAEB2;">
                          <label for="css" class="radio-label">Percentage</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-inp-cont" style="margin-top: 15px;">
            <label for="copay" class="label-1">Copay Amount</label><br>
            <input type="text" class="inputBox" name="copay" [(ngModel)]='tabFields.copayAmount'
                (ngModelChange)="onDataChange($event,'copayAmount')">
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative;margin-bottom: 10px;">
            <label for="otherInfo" class="label-1">Payer</label><span style="color: red;">*</span><br>
            <input type="search" style="z-index: 1;" class="inputBox" name="otherInfo" [(ngModel)]='tabFields.payerData'
                (ngModelChange)="onDataChange($event,'payer')" placeholder="Search Payer">
            <div class="inputBox"
                style="height: auto;cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100"
                *ngIf="dropClick !== true && searchType==='payer' && tabFields.payerData.length !== 0">
                <div *ngFor="let payers of payerData"
                (click)="setPayerValue(payers.Id,payers.PayorName,payers.Address1,payers.City,payers.State,payers.PhoneNumber,true,'payer')">
                <option style="white-space: break-spaces;margin-bottom: 10px;">
                    <p>{{payers.PayorName+","+payers.Address1+","+payers.City+","+payers.State+","+payers.PhoneNumber}}</p>
                    </option>
                </div>
            </div>
            <p class="validation-content" *ngIf="clickType==='workersComp' && tabFields.payerData==''">Please enter the field</p>
        </div>
    </div>
    <!-- *****************Financial Status**************************************** -->
    <p class="title-2">Financial Status</p>
    <div class="compensation-tab-cont">
        <div class="content-container-1">
            <div style="width: 100%;">
                <div class="group-1" style="margin-bottom: 30px;">
                    <div class="sub-inp-cont">
                        <label for="Policy Amount" class="label-1">Policy Amount</label><br>
                        <input type="text" class="inputBox" name="CarrierCase" placeholder="$$$"
                            [(ngModel)]='tabFields.policyAmount'
                            (ngModelChange)="onDataChange($event,'policyAmount')">
                    </div>
                    <div class="sub-inp-cont">
                        <label for="CarrierId" class="label-1">Approximate Spent Amount</label><br>
                        <input type="text" class="inputBox" name="CarrierId" placeholder="$$$"
                            [(ngModel)]='tabFields.approxSpentAmount'
                            (ngModelChange)="onDataChange($event,'approxAmount')">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-cont-1">
            <button class="btn-cancel" mat-dialog-close [mat-dialog-close]="tabFields">Cancel</button>
            <button class="btn-update" (click)="fieldValidations('commercial')">{{postResponse?'Updated':'Update Info'}}</button>
        </div>
    </div>
</div>