<div class="compensation-tab-cont">
    <div class="content-container-1">
        <div style="width:100% ;">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="Effective" class="label-1">Effective From</label><br>
                    <input type="date" class="inputBox" name="wcb" placeholder="mm/dd/yyyy"
                        [(ngModel)]='tabFields.effectiveFrom'
                        (ngModelChange)="onDataChange($event,'effectiveFrom')">
                </div>
                <div ng-app="myApp" ng-controller="myCtrl" class="sub-inp-cont">
                    <label for="Status" class="label-1">Status</label>
                    <select class="inputBox" [(ngModel)]="tab==='Liability' && tabFields.status"
                        (ngModelChange)="onDataChange($event,'status')">
                        <option value="" disabled selected>Select Status </option>
                        <option *ngFor="let status of statusTypes">{{status.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px;">
            <p class="label-1" style="margin-left: 2.7%;">Priority</p>
            <div class="radio-form">
                <div *ngFor="let priority of priorityTypes">
                      <input type="radio" id="html" name="fav_language" [value]='priority.Name'
                        style="border: 1px solid #AEAEB2;" [(ngModel)]='priority.Name'
                        [checked]="priority.Name===tabFields.priority"
                        (ngModelChange)="onDataChange($event,'priority')">
                      <label for="html" class="radio-label">{{priority.Name}}</label>
                </div>
            </div>
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative;margin-bottom: 10px;">
            <label for="otherInfo" class="label-1">Payer</label><span style="color: red;">*</span><br>
            <input type="search" style="z-index: 1;" class="inputBox" name="otherInfo" [(ngModel)]='tabFields.payerData'
                (ngModelChange)="onDataChange($event,'payer')" placeholder="Search Payer">
            <div class="inputBox"
                style="height: auto;cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100"
                *ngIf="dropClick !== true && searchType==='payer' && tabFields.payerData.length !== 0">
                <div *ngFor="let payers of payerData"
                (click)="setPayerValue(payers.Id,payers.PayorName,payers.Address1,payers.City,payers.State,payers.PhoneNumber,true,'payer')">
                <option style="white-space: break-spaces;margin-bottom: 10px;">
                    <p>{{payers.PayorName+","+payers.Address1+","+payers.City+","+payers.State+","+payers.PhoneNumber}}</p>
                    </option>
                </div>
            </div>
            <p class="validation-content" *ngIf="clickType==='workersComp' && tabFields.payerData==''">Please enter the field</p>
        </div>
    </div>
    <div class="btn-cont-1">
        <button class="btn-cancel" mat-dialog-close>Cancel</button>
        <button class="btn-update" (click)="fieldValidations('Liability')">{{postResponse?'Updated':'Update Info'}}</button>
    </div>
</div>