<div class="compensation-tab-cont">
    <div class="content-container-1">
        <div style="width:100% ;">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="wcb" class="label-1">WCB #</label><br>
                    <input type="text" class="inputBox" name="wcb" style="width: 97%;" [(ngModel)]='tabFields.wcb'
                        (ngModelChange)="onDataChange($event,'wcb')">
                </div>
                <div ng-app="myApp" ng-controller="myCt" class="sub-inp-cont">
                    <label for="Relationship" class="label-1">Relationship to be Insured</label><span
                        style="color: red;">*</span><br>
                    <select style="width: 96%;" class="inputBox" [(ngModel)]='tabFields.relationshiptoInsured'
                        (ngModelChange)="onDataChange($event,'relation')">
                        <option value="" disabled selected>Select Relationship</option>
                        <option *ngFor="let relation of relationshipTypes"
                            [value]="relation.Name">{{relation.Name}}</option>
                    </select>
                    <!-- <p class="validation-content" *ngIf="clickType==='workersComp' && tabFields.relationshiptoInsured===''">Please enter the field</p> -->
                </div>
            </div>
        </div>
        <!-- /**************************relation self fields*********************************-->
        <div style="width: 100%;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="firstName" class="label-1">First Name</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="firstName" [(ngModel)]='tabFields.firstName'
                        (ngModelChange)="onDataChange($event,'firstName')">
                </div>
                <div class="sub-inp-cont">
                    <label for="lastName" class="label-1">Last Name</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.lastName'
                        (ngModelChange)="onDataChange($event,'lastName')">
                </div>
            </div>
        </div>
        <div style="width:100% ;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div ng-app="myApp" ng-controller="myCt" class="sub-inp-cont">
                    <label for="gender" class="label-1">Gender</label>
                    <select class="inputBox" [(ngModel)]='tabFields.gender'
                        (ngModelChange)="onDataChange($event,'gender')" style="width: 96%;">
                        <option value="" disabled selected>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Unknown</option>
                    </select>
                </div>
                <div class="sub-inp-cont">
                    <label for="phone Number" class="label-1">Phone Number</label><br>
                    <input type="number" size="10" class="inputBox" name="wcb" style="width: 97%;" [(ngModel)]='tabFields.phoneNumber'
                        (ngModelChange)="onDataChange($event,'phoneNumber')" placeholder="(xxx)xxx-xxxx">
                </div>
            </div>
        </div>
        <div style="width: 100%" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="dob" class="label-1">DOB</label><br>
                    <div style="height: 40px;width: 96%;border: 1px solid #cccccc;padding-left: 5px;margin-top: 10px;">
                        <input matInput placeholder="mm/dd/yyyy" style="border-width: 0px !important;border-style: none !important;outline: none;color: #707375 !important;" [matDatepicker]="dob" [max]="today" [(ngModel)]='tabFields.dob'
                        (ngModelChange)="onDataChange($event,'dob')">
                            <mat-datepicker-toggle matSuffix [for]="dob" style="margin-left: 80px;"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                        </div>
                    <!-- <input type="date" class="inputBox" name="dob" placeholder="mm/dd/yyyy"
                        [(ngModel)]='tabFields.dob' style="width: 95%;"
                        (ngModelChange)="onDataChange($event,'dob')"> -->
                </div>
                <div class="sub-inp-cont">
                    <label for="ssn" class="label-1">SSN</label><br>
                    <input type="text" size="15" style="width: 97%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.ssn'
                        (ngModelChange)="onDataChange($event,'ssn')" placeholder="xxx-xx-xxxx">
                </div>
            </div>
        </div>
        <div style="width: 100%;" *ngIf="tabFields.relationshiptoInsured!=='self'">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="address1" class="label-1">Address line 1</label><br>
                    <input type="text" size="45" style="width: 97%;" class="inputBox" name="firstName" [(ngModel)]='tabFields.address1'
                        (ngModelChange)="onDataChange($event,'address1')">
                </div>
                <div class="sub-inp-cont">
                    <label for="address2" size="45" class="label-1">Address line 2</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="lastName" [(ngModel)]='tabFields.address2'
                        (ngModelChange)="onDataChange($event,'address2')">
                </div>
            </div>
        </div>
        <!-- /************************************************************************************* -->
        <div style="width: 100%">
            <div class="group-1">
                <div ng-app="myApp" ng-controller="my" class="sub-inp-cont">
                    <label for="status" class="label-1">Status</label><br>
                    <select class="inputBox" [(ngModel)]='tabFields.status'
                        (ngModelChange)="onDataChange($event,'status')" style="width: 97%;">
                        <option value="" disabled selected>Select Status</option>
                        <option *ngFor="let status of statusTypes" [value]="status.Name">{{status.Name}}</option>
                    </select>
                </div>
                <div class="sub-inp-cont">
                    <label for="CarrierId" class="label-1">Carrier Id #</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="CarrierId" [(ngModel)]='tabFields.carrierId'
                        (ngModelChange)="onDataChange($event,'carrierId')">
                </div>
            </div>
        </div>
        <div style="width: 100%;">
            <div class="group-1">
                <div class="sub-inp-cont">
                    <label for="CarrierCase" class="label-1">Carrier Case #</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="CarrierCase" [(ngModel)]='tabFields.carrierCase'
                        (ngModelChange)="onDataChange($event,'carrierCase')">
                </div>
                <div class="sub-inp-cont">
                    <label for="otherInfo" class="label-1">Other Information</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="otherInfo" [(ngModel)]='tabFields.otherInfo'
                        (ngModelChange)="onDataChange($event,'otherInfo')">
                </div>
            </div>
        </div>
        <div style="width: 100%;" >
            <div class="group-1">
                <div class="sub-inp-cont" *ngIf="tabFields.relationshiptoInsured!=='self'">
                    <label for="city" class="label-1">City</label><br>
                    <input type="text" style="width: 97%;" class="inputBox" name="city" [(ngModel)]='tabFields.city'
                        (ngModelChange)="onDataChange($event,'city')">
                </div>
                <div ng-app="myApp" ng-controller="myCtrl" class="sub-inp-cont" *ngIf="tabFields.relationshiptoInsured!=='self'">
                    <label for="state" class="label-1">State</label><span style="color: red;">*</span><br>
                    <select class="inputBox" style="width: 96%;" [(ngModel)]='tabFields.state'
                        (ngModelChange)="onDataChange($event,'state')">
                        <option value="" disabled selected>Select State</option>
                        <option *ngFor="let state of stateTypes" [value]="state.Name">{{state?.Name}}</option>
                    </select>
                    <p class="validation-content" *ngIf="clickType==='workersComp' && tabFields.state===''">Please enter the field</p>
                </div>
            </div>
        </div>
        <div style="width: 100%;">
            <div class="group-1">
                <div class="sub-inp-cont" *ngIf="tabFields.relationshiptoInsured!=='self'">
                    <label for="zip" class="label-1">Zip</label><br>
                    <input type="text" size="45" style="width: 90%;" class="inputBox" name="zip" [(ngModel)]='tabFields.zip'
                        (ngModelChange)="onDataChange($event,'zip')" placeholder="xxxxx-xxxx">
                </div>
            </div>
        </div>
        <div style="margin-top: 15px;">
            <p class="label-1" style="margin-left: 2.7%;">Priority</p>
            <div class="radio-form">
                <div *ngFor="let priority of priorityTypes">
                      <input type="radio" id="html" name="fav_language" [value]='priority.Name'
                        style="border: 1px solid #AEAEB2;" [(ngModel)]='priority.Name'
                        [checked]="priority.Name===tabFields.priority"
                        (ngModelChange)="onDataChange($event,'priority')">
                      <label for="html" class="radio-label">{{priority.Name}}</label>
                </div>
            </div>
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative">
            <label for="otherInfo" class="label-1">Adjuster</label>
            <input type="search" style="z-index: 1; margin-right: 30px;" class="inputBox" name="otherInfo"
                [(ngModel)]='tabFields.adjuster' (ngModelChange)="onDataChange($event,'adjuster')"
                placeholder="Search Adjuster">
            <div class="inputBox"
                style="cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100;height: 350px;overflow-y: scroll;"
                *ngIf="dropClick !== true && searchType==='adjuster' && tabFields.adjuster !== ''">
                <div *ngFor="let adjusters of adjusterData"
                    (click)="setAdjusterValue(adjusters.PartnerMemberId,adjusters.PartnerOrganizationName,adjusters.AddressLine1,adjusters.AddressLine2,adjusters.City,adjusters.State,adjusters.ZipCode,adjusters.ContactPhone,adjusters.PhoneNumber,true,'adjuster')">
                    <option style="white-space: break-spaces;margin-bottom: 10px;">
                        <p> {{adjusters.PartnerOrganizationName+","+adjusters.AddressLine1+","+adjusters.AddressLine2+","+adjusters.City+","+adjusters.State+","+adjusters.ZipCode+","+adjusters.ContactPhone+","+adjusters.PhoneNumber}}
                        </p>
                    </option>
                </div>
            </div>
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative;margin-bottom: 10px;">
            <label for="otherInfo" class="label-1">Payer</label><span style="color: red;">*</span><br>
            <input type="search" style="z-index: 1;" class="inputBox" name="otherInfo" [(ngModel)]='tabFields.payerData'
                (ngModelChange)="onDataChange($event,'payer')" placeholder="Search Payer">
            <div class="inputBox"
                style="height: auto;cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100"
                *ngIf="dropClick !== true && searchType==='payer' && tabFields.payerData.length !== 0">
                <div *ngFor="let payers of payerData"
                (click)="setPayerValue(payers.Id,payers.PayorName,payers.Address1,payers.City,payers.State,payers.PhoneNumber,true,'payer')">
                <option style="white-space: break-spaces;margin-bottom: 10px;">
                    <p>{{payers.PayorName+","+payers.Address1+","+payers.City+","+payers.State+","+payers.PhoneNumber}}</p>
                    </option>
                </div>
            </div>
            <p class="validation-content" *ngIf="clickType==='workersComp' && tabFields.payerData==''">Please enter the field</p>
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative">
            <label for="otherInfo" class="label-1">Employer</label>
            <input type="search" style="z-index: 1;" class="inputBox" name="otherInfo"
                [(ngModel)]='tabFields.employer' (ngModelChange)="onDataChange($event,'employer')"
                placeholder="Search Employe">
            <div class="inputBox"
                style="cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100;height: 350px;overflow-y: scroll;"
                *ngIf="dropClick !== true && searchType==='employe' && tabFields.employer!== ''">
                <div *ngFor="let employe of employerData"
                    (click)="setEmployeValue(employe.PartnerMemberId,employe.PartnerOrganizationName,employe.AddressLine1,employe.AddressLine2,employe.City,employe.State,employe.ZipCode,employe.ContactPhone,employe.PhoneNumber,true,'employe')">
                    <option style="white-space: break-spaces;margin-bottom: 10px;">
                        <p> {{employe.PartnerOrganizationName+","+employe.AddressLine1+","+employe.AddressLine2+","+employe.City+","+employe.State+","+employe.ZipCode+","+employe.ContactPhone+","+employe.PhoneNumber}}
                        </p>
                    </option>
                </div>
            </div>
        </div>
        <div class="sub-inp-cont" style="margin-top: 2%;position:relative">
            <label for="otherInfo" class="label-1"> Supervisor</label>
            <input type="search" style="width: 97%;" style="z-index: 1;" class="inputBox" name="otherInfo"
                [(ngModel)]='tabFields.supervisor' (ngModelChange)="onDataChange($event,'supervisor')"
                placeholder="Search Supervisor">
            <div class="inputBox"
                style="cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100;height: 350px;overflow-y: scroll;"
                *ngIf="dropClick !== true && searchType==='supervisor' && tabFields.supervisor!== ''">
                <div *ngFor="let supervisors of supervisorData"
                    (click)="setSupervisorValue(supervisors.PartnerMemberId,supervisors.FirstName,supervisors.LastName,true,'adjuster')">
                    <option style="white-space: break-spaces;margin-bottom: 10px;">
                        <p> {{supervisors.FirstName+" "+supervisors.LastName}}
                        </p>
                    </option>
                </div>
            </div>
        </div>

        <div class="sub-inp-cont" style="margin-top: 2% ;margin-bottom: 2% ; position:relative">
            <label for="otherInfo" class="label-1">HR</label>
            <input type="search" style="z-index: 1;" class="inputBox" name="otherInfo" [(ngModel)]='tabFields.HR'
                (ngModelChange)="onDataChange($event,'hr')" placeholder="Search HR">
            <div class="inputBox"
                style="cursor: pointer;width: 98%;position: absolute;top: 60px;left: 0;z-index: 100;height: 350px;overflow-y: scroll;"
                *ngIf="dropClick !== true && searchType==='hr' && tabFields.HR !== ''">
                <div *ngFor="let hr of hrData" (click)="setHrValue(hr.PartnerMemberId,hr.FirstName,hr.LastName,true,'adjuster')">
                    <option style="white-space: break-spaces;margin-bottom: 10px; ">
                        <p> {{hr.FirstName+" "+hr.LastName}}
                        </p>
                    </option>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-cont-1">
        <button class="btn-cancel" mat-dialog-close>Cancel</button>
        <button class="btn-update" (click)="fieldValidations('workersComp')">{{postResponse?'Updated':'Update Info'}}</button>
    </div>
</div>