<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<h1 mat-dialog-title class="dailog-title">Add Health Insurance Information</h1>
<div *ngIf="validatorComp && tab==='Worker’s Compensation'" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div>
  <div *ngIf="validatorLiability && tab==='Liability'" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div>
  <div *ngIf="validateAuto && tab==='Auto Accident'" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div>
  <div *ngIf="validateNjPip && tab==='NJ - PIP'" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div>
  <div *ngIf="validateCommercial && tab==='Commercial'" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div>

<!-- <div *ngIf="workersValidators?.type" class="alert alert-danger" role="alert">
    Please Enter Mandatory Fields.
  </div> -->
  <!-- *ngIf="workersValidators.state === '' && workersValidators.relation === '' && workersValidators.payer ==='' && workersValidators.type==='workersComp'" -->
<div>
    <h2 class="ins-type">Insurance Type</h2>
    <div class="tabs-container">
        <button class="tab-btn" (click)="getTab('Worker’s Compensation')"
            [ngClass]="tab==='Worker’s Compensation'? 'tab-change': ''">Worker’s Compensation</button>
        <button class="tab-btn" (click)="getTab('Liability')"
            [ngClass]="tab==='Liability'? 'tab-change': ''">Liability</button>
        <button class="tab-btn" (click)="getTab('Auto Accident')"
            [ngClass]="tab==='Auto Accident'? 'tab-change': ''">Auto Accident</button>
        <button class="tab-btn" (click)="getTab('Other')" [ngClass]="tab==='Other'? 'tab-change': ''">Other</button>
        <button class="tab-btn" (click)="getTab('NJ - PIP')" [ngClass]="tab==='NJ - PIP'? 'tab-change': ''">NJ-PIP</button>
        <button class="tab-btn" (click)="getTab('Commercial')"
            [ngClass]="tab==='Commercial'? 'tab-change': ''">Commercial</button>
        <button class="tab-btn" (click)="getTab('Self-Pay')" [ngClass]="tab==='Self-Pay'? 'tab-change': ''">Self
            Pay</button>
    </div>
    <p class="title-2">{{tab}}</p>
    <!-- /***************************Worker’s Compensation Form*********************************************** -->
    <div *ngIf="tab==='Worker’s Compensation'">
        <app-workers-compensation    (validateDataEvent)="dataValidator($event)"></app-workers-compensation>
    </div>
    <!-- /***************************Liabilty Form***************************************** -->
    <div *ngIf="tab==='Liability'">
    <app-laibility (validateDataEvent)="dataValidator($event)"></app-laibility>
    </div>
    <!-- /**********************************Auto Accident Form********************************* -->
    <div *ngIf="tab==='Auto Accident'">
        <app-auto-accident (validateDataEvent)="dataValidator($event)"></app-auto-accident>
    </div>
    <!-- ****************************Other Info Form******************************* -->
    <div *ngIf="tab==='Other'">
        <app-other-info (validateDataEvent)="dataValidator($event)"></app-other-info>
    </div>
    </div>
        <!-- *****************************NJ-PIP Form*************************** -->
        <div *ngIf="tab==='NJ - PIP'">
            <app-nj-pip (validateDataEvent)="dataValidator($event)"></app-nj-pip>
        </div>
    <!-- ******************************Commercial Form************************************ -->
    <div *ngIf="tab==='Commercial'">
        <app-commercial (validateDataEvent)="dataValidator($event)"></app-commercial>
    </div>
    <!-- ********************************Self Pay Form******************************************* -->
    <div *ngIf="tab==='Self-Pay'">
        <app-self-pay (validateDataEvent)="dataValidator($event)"></app-self-pay>
    </div>