<div class="compensation-tab-cont">
    <div class="content-container-1">
        <div style="width: 100%;">
            <div class="group-1" style="margin-bottom: 30px;">
                <div class="sub-inp-cont">
                    <label for="amount" class="label-1">Self Pay Amount</label><br>
                    <input type="text" class="inputBox" name="amount">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-cont-1">
        <button class="btn-cancel" mat-dialog-close>Cancel</button>
        <button class="btn-update" (click)="fieldValidations('selfPay')">Update Info</button>
    </div>
</div>